<div class="container px-5 px-sm-0">
  <div class="row">

<%= render 'new', book: @new_book, user: @user %>


<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class ='table'>
    <tr>
      <td>
        <%= link_to user_path(@book.user_id) do %>
        <!--ここに画像を入れる-->
        <%= image_tag @user.get_profile_image(100,100) %>

        <br><%= User.find(@book.user_id).name %>
        <% end %>
      </td>
      <td><%= link_to @book.title, book_path(@book) %></td>
      <td><%= @book.body %></td>
      <% if @book.user_id == current_user.id %>
        <td><%= link_to "Edit", edit_book_path(@book), class:"btn btn-sm btn-success" %></td>
        <td><%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に消しますか?"}, class:"btn btn-sm btn-danger" %></td>
      <% end %>
    </tr>
  </table>
</div>
</div>
</div>
